 h3{ 
	margin: 1em 0 0.5em 0;
    font-weight: normal;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 16px;
    line-height: 25px;
    background: #EC407A;
    border: 1px solid #fff;
    padding: 5px 15px;
    color: white; 
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);
	position:relative;
    font-family: Helvetica, sans-serif;
}
	
 h2{
	margin: 1em 0 0.5em 0;
    font-weight: normal;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 18px;
    line-height: 25px;
    background: #EC407A;
    border: 1px solid #fff;
    padding: 5px 15px;
    color: white; 
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);
    font-family: Helvetica, sans-serif; 
}
    
	p{color: #0277BD;}
	
.css3-shadow{
	background: #FAFAFA;	
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:5px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.6);
}