<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mykitab.mykitabcomptepu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MAIN_SCREEN.MainActivity" />
        <activity android:name=".MAIN_SCREEN.PLOne" />
        <activity android:name=".MAIN_SCREEN.PLTwo" />

        <activity android:name=".TOC.TocMain">
            <intent-filter>
                <action
                    android:name="android.intent.action.TOCMAIN"
                    android:parentActivityName="mykitab.mykitabcomptepu.MAIN_SCREEN.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TOC.TOCUnitOne" />
        <activity android:name=".TOC.TOCUnitTwo" />
        <activity android:name=".TOC.TOCUnitThree" />
        <activity android:name=".TOC.TOCUnitFour" />
        <activity android:name=".TOC.TOCUnitFive" />
        <activity android:name=".TOC.TOCUnitSix" />

        <activity android:name=".OSD.OsdMain">
            <intent-filter>
                <action
                    android:name="android.intent.action.OSDMAIN"
                    android:parentActivityName="mykitab.mykitabcomptepu.MAIN_SCREEN.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OSD.OSDUnitOne" />
        <activity android:name=".OSD.OSDUnitTwo" />
        <activity android:name=".OSD.OSDUnitThree" />
        <activity android:name=".OSD.OSDUnitFour" />
        <activity android:name=".OSD.OSDUnitFive" />
        <activity android:name=".OSD.OSDUnitSix" />

        <activity android:name=".DCWSN.DcwsnMain">
            <intent-filter>
                <action
                    android:name="android.intent.action.DCWSNMAIN"
                    android:parentActivityName="mykitab.mykitabcomptepu.MAIN_SCREEN.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DCWSN.DCWSNUnitOne" />
        <activity android:name=".DCWSN.DCWSNUnitTwo" />
        <activity android:name=".DCWSN.DCWSNUnitThree" />
        <activity android:name=".DCWSN.DCWSNUnitFour" />
        <activity android:name=".DCWSN.DCWSNUnitFive" />
        <activity android:name=".DCWSN.DCWSNUnitSix" />

        <activity android:name=".DBMS.DbmsMain">
            <intent-filter>
                <action
                    android:name="android.intent.action.DBMSMAIN"
                    android:parentActivityName="mykitab.mykitabcomptepu.MAIN_SCREEN.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DBMS.DBMSUnitOne" />
        <activity android:name=".DBMS.DBMSUnitTwo" />
        <activity android:name=".DBMS.DBMSUnitThree" />
        <activity android:name=".DBMS.DBMSUnitFour" />
        <activity android:name=".DBMS.DBMSUnitFive" />
        <activity android:name=".DBMS.DBMSUnitSix" />

        <activity android:name=".CFCA.CfcaMain">
            <intent-filter>
                <action
                    android:name="android.intent.action.CFCAMAIN"
                    android:parentActivityName="mykitab.mykitabcomptepu.MAIN_SCREEN.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CFCA.CFCAUnitOne" />
        <activity android:name=".CFCA.CFCAUnitTwo" />
        <activity android:name=".CFCA.CFCAUnitThree" />
        <activity android:name=".CFCA.CFCAUnitFour" />
        <activity android:name=".CFCA.CFCAUnitFive" />
        <activity android:name=".CFCA.CFCAUnitSix" />
        <activity android:name=".CODE_TRAINING.CodeTraining" />
        <activity android:name=".Other.Emergency" />

        <activity
            android:name=".WEBVIEW.WebViewActivity"
            android:theme="@style/WebViewAct">
            <intent-filter>
                <action android:name="android.intent.action.WebViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WEBVIEW.WebViewDocs"
            android:theme="@style/WebViewAct">
            <intent-filter>
                <action android:name="android.intent.action.WebViewDocs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".WEBVIEW.WebViewNews">
            <intent-filter>
                <action android:name="android.intent.action.WebViewNews" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".C_Programming.C_Tabs" />
        <activity android:name=".CODE_TRAINING.CPlusPlus" />
        <activity android:name=".CODE_TRAINING.Java" />
        <activity android:name=".CODE_TRAINING.DataStructures" />
        <activity android:name=".CODE_TRAINING.JSP" />
        <activity android:name=".CODE_TRAINING.Ruby" />
    </application>

</manifest>